* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: #212631;
}

body {
    margin: 0;
    padding: 0;
}

.globalHeader {
    display: flex;
    font-optical-sizing: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
